<div class="d-flex justify-content-center ">
    <div class="card border-primary" style="width: 50%; margin-top: 12%; ">
        <div class="card-body">
            <h2 class="card-title text-center text-primary">Welcome</h2>
            <h6 class="card-subtitle mb-2 text-muted text-center">MyCabs</h6>
            <p class="card-text"><b>MyCabs</b> service is a major transport service provided by the various transport
                operators in a particular city. Mostly peoples use cab service for their daily transportations need. The
                company must be a registered and fulfils all the requirements and security standards set by the
                transport department.</p>
        </div>
    </div>
</div>